*{
    padding: 0;
    margin: 0;
}
.wrapper{
    background: url(../img/home.jpeg) no-repeat;
    background-size: cover;
    height: 100vh;
}
.navbar{
    height: 80px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}
.logo{
	
    width: 140px;
    height: auto;
    padding: 2px 10px;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    font-family: poppins;
    transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background: grey;
    border-radius: 2px;
}
.wrapper .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: poppins;
    user-select: none;
}
.center h1{
    color: white;
    font-size: 50px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}
.center h2{
    color: white;
    font-size: 50px;
    font-weight: bold;
    width: 885px;
    margin-top: 10px;
    text-align: center;
}
.center .buttons{
    margin: 35px 280px;
}
.buttons button{
    height: 50px;
    width: 155.5px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    background: grey;
    border:  2px solid #1873AB;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    transition: .5s;
}
.buttons .btn{
    margin-left: 25px;
}
.buttons button:hover{
    background: #A9A9A9;
}
.abt{
    height: 87vh;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
.abt h2{
    font-family: Arial Black;
}
.wrapper nav {
    position: fixed;
}
.abts{
    margin-top: 20px;
}
.abts h1{
    padding-bottom: 20px;
    font-family: Arial Black;
}
.abts p{
    font-family: Arial Black;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
hr{
    margin-top:20px;
}
html {
  scroll-behavior: smooth;
}
.pro{
    left : 50%;
    margin: 35px 80px;

}
